<nav>
  <div class="nav-wrapper background-nav">
     <a href="#" data-target="slide-out" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <a href="#" class="brand-logo right"><img src="img/icon64.png" title="logo" /></a>
      <li>
        <a href="sass.html">{{ inicio }}</a>
      </li>
      
      <li>
        <a href="badges.html">{{ catalogo }}</a>
      </li>
      <li>
        <a href="collapsible.html">{{ contacto }}</a>
      </li>
      <li>
        <a href="collapsible.html">{{ sucursales }}</a>
      </li>
      <li>
        <a href="collapsible.html">{{ catalogo }}</a>
      </li>
      <li>
        <a href="collapsible.html">{{ redesSociales }}</a>
      </li>
      <li><a href="collapsible.html">JavaScript</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <a href="#user"><img class="circle" src="img/icon64.png" /></a>
    </div>
  </li>
  <li>
    <a class="waves-effect" href=""><i class="material-icons">local_dining</i>{{ inicio }}</a>
  </li>
  <li>
    <a class="waves-effect" href=""><i class="material-icons">local_cafe</i>{{ inicio }}</a>
  </li>
  <li>
    <a class="waves-effect" href=""><i class="material-icons">location_city</i>{{ inicio }}</a>
  </li>
  <li>
    <a class="waves-effect" href=""><i class="material-icons">home</i>{{ inicio }}</a>
  </li>
  <li>
    <a class="waves-effect" href=""><i class="material-icons">home</i>{{ inicio }}</a>
  </li>
  <li>
    <a class="waves-effect" href=""><i class="material-icons">home</i>{{ inicio }}</a>
  </li>
</ul>